/* myweb.css*/

@media all and (orientation:landscape),
(orientation:portrait) {
    body {
        background-image: url("../HTMLTutorial/Portfolio/Cr.jpg");
    }
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #007bb5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

footer {
    text-align: center;

    background-color: rgb(47, 47, 45);
    color: white;
    display: block;
    text-decoration: none;
}

article {
    margin-top: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;

    /* background-image: url("../CSS_P/Cr.jpg"); */
    /* background-position-x: -570px; */
    /* width: 100%;
    height: 50%; */
}

article>.p1,
p2 {
    background: url("../HTMLTutorial/Portfolio/Cr.jpg");
    margin: auto;
    display: flex;
    align-items: center;
    color: aqua;
    width: 300px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: transparent 15px green;

    padding: 5px;
    text-align: center;


}

/*
iframe {

    text-align: center;

} */
video {
    display: flex;
    justify-content: center;


}

address>a:hover {
    color: antiquewhite;
}

header {

    animation: mymove 10s infinite;


    font-size: 300;
    font-weight: bolder;
    color: aliceblue;

    text-transform: capitalize;
    /* animation: infinite; */
}


@keyframes mymove {
    50% {
        text-indent: 1120px;
    }
}


a>img {

    float: left;

    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1.0;
    display: flex;
    justify-content: flex-start;


}

div>ul {

    float: right;

    border-radius: 50%;
    margin-top: 40px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: flex-end;


}


nav a {
    /* background: url("../HTMLTutorial/Portfolio/Cr.jpg"); */


    /* padding: 10px; */
    /* padding-right: 20px; */
    /* padding-left: 50%; */
    /* margin: 900px; */

    text-decoration: none;
    transition-duration: 0.2s;
    /* width: 10%; */
    box-shadow: 0 9px 16px 0 rgba(2, 2, 2, 2);
    text-align: center;
    /* border: solid 1px yellow; */
    background-color: rgb(4, 98, 237);
    cursor: pointer;
    text-decoration: none;
    padding: 15px 5px 5px 5px;
    /* border-radius: 10px; */
    display: inline-block;
    font-size: 16px;
    margin: 15px 5px;
    color: rgb(9, 11, 9);
}



a.one {
    margin-top: 30px;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    opacity: 1.0;
}

a.one:hover {
    opacity: 0.6;
}

a:hover {
    /* background: rgb(117, 11, 183); */
    /* color: rgb(164, 25, 25); */
    color: wheat;
    /* border: solid #008cba; */
    background: rgb(117, 11, 183);
    color: rgb(0, 0, 0);
    border: solid #008cba;

}



.p3 {

    display: flex;
    color: rgb(4, 28, 28);
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: transparent 15px green;
    text-align: left;
    padding: 200px;
    margin: auto;

}

.p4 {
    margin: auto;
    padding: 50px 50px 50px 50px;
    font-size: larger;
    border: 5px solid yellow;
    text-align: center;
    width: 400px;
}


.aside {
    display: flex;
    text-align: center;
}

.p6,
.p7 {

    display: flex;
    color: rgb(4, 28, 28);
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: transparent 15px green;
    text-align: left;
    padding: 20px;
    padding: 10px;
    /* margin: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./imagesgifs/jersey7_2.jpg");
    background-position: 50%;
    flex: 1;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-color: #6a3b3b;
    /* flex: 1; */
    color: antiquewhite;

}


.button {
    transition-duration: 0.4s;
    /* width: 10%; */
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 9px 16px 0 rgba(2, 2, 2, 2);
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 196, 39);
    cursor: pointer;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 50px;
    color: blue;
}

button:hover {
    background: rgb(117, 11, 183);
    color: rgb(164, 25, 25);
    border: solid #008cba;
}

button:active,
a:active {
    background: rgb(161, 150, 168);
    color: rgb(18, 4, 4);
    border: solid #596d29;
}

.container {
    display: flex;
    text-align: center;

}

.paragraph {
    padding: 10px;
    /* margin: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./imagesgifs/jersey7_2.jpg");
    flex: 1;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-color: #6a3b3b;
    /* flex: 1; */
    color: antiquewhite;



}

.fa {
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

nav>ul {
    flex-direction: row;
    justify-content: end;
    display: flex;
    list-style-type: none;

}

#ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
}
